In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as dt

In [11]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
# reflect the tables

base = automap_base()

base.prepare(engine, reflect=True)

In [6]:
# View all of the classes that automap found

base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table

measurement = base.classes.measurement
station = base.classes.station

In [13]:
# Create our session (link) from Python to the DB

session = Session(engine)

Exploratory Precipitation Analysis

In [17]:
# Find the most recent date in the data set
# Find column names

inspector = inspect(engine)

columns = inspector.get_columns('measurement')
for col in columns:
    print(col["name"], col["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [26]:
session.query(measurement.date).order_by(measurement.date.desc()).first()

('2017-08-23')

In [43]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 


precip = session.query(measurement.date, measurement.prcp).\
filter(measurement.date >= "2016-03-23").\
filter(measurement.date <= "2017-08-23").order_by(measurement.date.desc()).all()
precip[:5]

[('2017-08-23', 0.0),
 ('2017-08-23', 0.0),
 ('2017-08-23', 0.08),
 ('2017-08-23', 0.45),
 ('2017-08-22', 0.0)]

In [48]:
# Save the query results as a Pandas DataFrame and set the index to the date column

precip_df = pd.DataFrame(data=precip, columns=['Date', 'Precipitation'])
precip_df.set_index('Date')

            Precipitation
Date
2017-08-23           0.00
2017-08-23           0.00
2017-08-23           0.08
2017-08-23           0.45
2017-08-22           0.00
...                   ...
2016-03-23           0.72
2016-03-23            NaN
2016-03-23           1.05
2016-03-23           0.31
2016-03-23           0.00

[3197 rows x 1 columns]

In [52]:
# Sort the dataframe by date

precip_date = precip_df.sort_index()
precip_date.head()

         Date  Precipitation
0  2017-08-23           0.00
1  2017-08-23           0.00
2  2017-08-23           0.08
3  2017-08-23           0.45
4  2017-08-22           0.00

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data